head
	title RITOCHALLENGE
	meta(http-equiv="content-type", content="text/html; charset=UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
body

template(name="layout")
	+side
	.fixedBG(style="background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{firstChamp}}_0.jpg)").animated.fadeIn
	if isReady 'champions'
		.container
			+Template.dynamic template=main
	else
		.container
			+home