template(name="bans")
	.content
		.content__header
			h1 {{session "title"}}
			#counter
		if first
			.content__body
				.content__body__featured.animated.fadeIn
					.content__body__featured__header
						h1.content__body__featured__header__number.count #1
						h3.content__body__featured__header__title {{first.name}}
						p.content__body__featured__header__subtitle {{first.title}}
					if first
						img(src="http://ddragon.leagueoflegends.com/cdn/5.6.1/img/champion/{{first.key}}.png").content__body__featured__image.circle
					.content__body__featured__stats
						h3.content__body__featured__stats__rate Ban rate
						+progressCircle progress=banrate radius="50" class="green"
						p.content__body__featured__stats__kda Bans
						p.content__body__featured__stats__kda {{first.bans}}
					a(href="").content__body__featured__more.openModal More info
				ul.content__body__champions
					each champions
						+bansChampion
			+infoModal
template(name="bansChampion")
	li.content__body__champions__champion.animated.fadeIn
		img(src="http://ddragon.leagueoflegends.com/cdn/5.6.1/img/champion/{{key}}.png").content__body__champions__champion__image.circle
		.content__body__champions__champion__rate
			h3.content__body__champions__champion__rate__text Ban rate
			+progressCircle progress=banrate radius="30" class="green"
		.content__body__champions__champion__info
			h3.content__body__champions__champion__info__name {{name}}
			p.content__body__champions__champion__info__name {{title}}
			h3.content__body__champions__champion__info__name Bans
			p.content__body__champions__champion__info__name {{bans}}
		.content__body__champions__champion__footer
			h3.content__body__champions__champion__footer__number.count #2
			a(href="").content__body__champions__champion__footer__more.openModal More info