@import '../vars-mixins'
.content__body__home
	border 1px solid $border-grey
	padding 5px 10px
	background $transp-white
	border 1px solid $border-grey
	max-width 1200px
	margin 20px auto
	depth(0)
	&__title
		border-bottom 1px solid $border-grey
		margin-bottom 10px
		padding-bottom 5px
		font-size 20px 
	&__text
		text-align center
		font-size 16px
		margin-bottom 10px 
		vertical-align top 
	&__divisor
		margin 10px 0
		height 1px 
		width 100% 
		border-bottom 1px solid $border-grey
	&__champion
		width 90%
		max-width 600px 
		margin 0 auto
		margin-bottom 10px
		height 100px
		background $transp-dark
		border 1px solid $border-grey
		depth(0)
		transition(all 0.4s)
		&:hover
			depth(1)
		&__img
			width 90px
			margin 5px    
			float left
			border-right 1px solid $white-transp
		&__info
			padding 10px
			float left
			overflow hidden
			color $white
			&__name  
				line-height 40px 
			&__title  
				line-height 30px 
		&__winrate
			float right
			padding 5px 10px
			&__title
				color $white 
	&__last
		font-size 14px
		width 60%
		margin 0 auto
		text-align center  
.striked
	text-decoration line-through 
.highlighted
	color $light-teal