@import '../vars-mixins'

.stats
	width 100% 
	padding 10px
	&__header
		border-bottom 1px solid $border-grey
	&__body
		padding 10px 20px
		&__info
			&__image
				width 100px 
				float left
			&__desc
				width 300px
				height 100px
				float left 	
		&__stats
			width 100% 	 
			clear both