template(name="stats")
	.containder
		.stats
			.stats__header
				h1 Champion stats
			.stats__body
				.stats__body__info
					img(src="/test.png").stats__body__info__image.circle
					.stats__body__info__desc
						p.stats__body__info__desc.name Champion Name
						p.stats__body__info__desc.title a fkn title here
					.stats__body__stats 						
						.stats__body__stats__title
						.stats__body__stats__item
							p.stats__body__stats__item__name Total Games computed
							p.stats__body__stats__item__value 999
						.stats__body__stats__item
							p.stats__body__stats__item__name Bans
							p.stats__body__stats__item__value 999
						.stats__body__stats__item
							p.stats__body__stats__item__name Wins
							p.stats__body__stats__item__value 999
						.stats__body__stats__item
							p.stats__body__stats__item__name Losses
							p.stats__body__stats__item__value 999
						.stats__body__stats__item
							p.stats__body__stats__item__name Win rate
							p.stats__body__stats__item__value 999
						.stats__body__stats__item
							p.stats__body__stats__item__name KDA
							p.stats__body__stats__item__value 999
			.stats__footer