template(name="side")
	aside.side
		.side__header
			a(href="/")
				h1.side__header__title LELKING
			.home__line(class="{{active 'home'}}")
			//- a.side__header__social Twitter
			//- a.side__header__social Facebook
		.side__body
			select.side__body__select#select-server
				option(value="all") All
				option(value="br") Brazil
				option(value="eune") EU Nordic & East
				option(value="euw") EU West
				option(value="kr") Republic of Korea
				option(value="lan") Latin America North
				option(value="las") Latin America South
				option(value="na") North America
				option(value="oce") Oceania
				option(value="ru") Russia
				option(value="tr") Turkey
			a(class="{{active 'wins'}}" name='wins').side__body__link.wins Highest win rate
			a(class="{{active 'losses'}}" name='losses').side__body__link.losses Lowest win rate
			a(class="{{active 'picks'}}" name='picks').side__body__link.picks Most picked Champion
			a(class="{{active 'bans'}}" name='bans').side__body__link.bans Most banned Champion
			a(class="{{active 'highestkd'}}" name='highestkd').side__body__link.bans Highest KD ratio
			a(class="{{active 'lowestkd'}}" name='lowestkd').side__body__link.bans Lowest KD ratio
		.side__footer
			p.muted LELKING by
			p.muted Murilobast
			p.muted Deam